*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face {
	font-family: "Lato";
	src: url("/fonts/Lato-Regular.ttf");
	/* src: url("/fonts/Lato-Italic.ttf");
	src: url("/fonts/Lato-Bold.ttf"); */
	font-style: normal;
	font-weight: normal;
}



.wrapper {
    overflow: hidden;
	min-height: 100%;
}

.screen-main {
	height: 100vh;
	width: 100%;
	position: relative;
}

.main_display {
	background-image: url(/image/main_display.png);
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.menu-list {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-list img {
	align-items: center;
	text-align: center;
}
		 
.main-menu__row {
	text-align: center;
    margin-top: -45px;
}

.main-menu__row li {
	padding: 0 40px 0 40px;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 3px;
	color: #4d4959;
	font-family: "Lato";
	font-weight: 700;
}

.main-menu__row li:nth-child(2) {
	padding: 0 100px;
}

.main-menu__row li:nth-child(3) {
	padding: 0 100px;
}

.logo_main {
	padding-top: 30px;
	width: 100%;
	/* position: absolute; */
    text-align: center;
    justify-content: center;
}

.logo_main img {
	margin: 0 auto;
}

.about_us {
	background: #f7f7f7;
}

.img_logo {
	padding: 115px 0px 25px 0px;
	text-align: center;
	align-items: center;
}

.title {
	font-size: 18px;
	letter-spacing: 4px;
	color: #353738;
	font-family: "Lato";
	font-weight: 700;
	text-align: center;
}

.our-info {
	font-size: 14px;
	line-height: 34px;
	color: #848789;
	font-family: "Lato";
	font-weight: 400;
	text-align: center;
	padding: 25px 300px 140px 300px;
}

.show_bicycle{
	display: flex;
	width: 100%;
}

.bicycle_company {
	display: flex;
	flex: 0 1 66.66%;
	background-image: url("/image/Bike1_main.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.first_bike {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.bike_descrip {
	flex: 0 1 33.33%;
}

.logo {
	padding: 50px 0 25px 0;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.descrip {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.descrip_bike{
	flex: 0 1 66.66%;
}

.bike_photo{
	flex: 0 1 33.33%;	
}

.text_desc {
	padding: 25px 35px 40px 35px;
	font-size: 16px;
	line-height: 30px;
	color: #848789;
	font-family: "Lato";
	font-weight: 400;
	text-align: justify;
}

.title_desc {
	font-size: 18px;
	letter-spacing: 4px;
	color: #353738;
	font-family: "Lato";
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.line {
	width: 50px;
	height: 1px;
	background-color: rgba(53,55,56,0.2);
	margin: 0 auto;
	margin-bottom: 30px;
}

.second_b {
	display: flex;
	width: 100%;
}

.bicycle_company_next {
	display: flex;
	flex: 0 1 66.666%;
	background-image: url("/image/Bike2_main.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.second_descrip {
	flex: 0 1 33.333%;
	display: flex;
	flex-direction: column;
}

.second_descrip logo {
	flex: 0 1 33.333%;
}

.descrip {
	display: flex;
}

.descrip_bike{
	flex: 0 1 66.666%;
}

.bike_photo {
	flex: 0 1 33.333%;
	background-image: url("./image/bike-photo2.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}

.third_b {
	margin: 0 auto;
	width: 100%;
}

.third_b_show {
	display: flex;
	width: 100%;
	justify-content: center;
}

.first_column {
	flex: 0 1 33.333%;
	background-image: url("/image/Bike3_main.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.second_colum {
	flex: 0 1 33.333%;
	display: flex;
	flex-direction: column;
    text-align: center
}

.third_column{
	flex: 0 1 33.333%;
	background-image: url("/image/Bike3.1_main.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.text_desc_t {
	flex: 0 1 66.666%;
	padding: 50px 65px 50px 65px;
	font-size: 16px;
	line-height: 30px;
	color: #848789;
	font-family: "Lato";
	font-weight: 400;
	text-align: justify;
}


.descrip_bike_t {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.title_desc_t {
	font-size: 18px;
	letter-spacing: 4px;
	color: #353738;
	font-family: "Lato";
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}


.bike_photo_t {
	flex: 0 1 33.333%;
}
